#root {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 1rem;
}

.card {
  padding: 1em;
  
}
.read-the-docs {
  color: #888;
}
.col{
  grid-template-columns: repeat(3,1fr);
  display: grid;
  gap: 20px;
  width: 100%;
}

